{{>header}}
<div class="container-fluid vh-100">
  <div class="row d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="col-md-6 col-12 text-center">
      <img class="img-fluid" src="images/404.jpg" alt="" srcset="">
      <div>
          <a href="/" class="btn btn-secondary my-4">Go To Home</a>
        </div>
    </div>
  </div>
</div>
{{>footer}}