{{>header}}

<section id="about" class="about">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-lg-5 d-flex align-items-center justify-content-center about-img"
      >
        <img
          src="images/user.png"
          class="img-fluid aos-init aos-animate"
          alt=""
          data-aos="zoom-in"
        />
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0">
        <h3 data-aos="fade-up" class="aos-init aos-animate">
          About us
        </h3>
        <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ex itaque exercitationem officiis, qui ipsum praesentium dolorum dolore necessitatibus tempora quia eius ullam consequuntur sequi sit nobis nisi animi illo ea nemo sunt debitis perspiciatis minus. Facere excepturi doloremque cumque consequuntur aperiam, ut ex neque? Laudantium adipisci cum, tempora et quaerat voluptates quasi asperiores sint laborum sequi in sed incidunt repellat, excepturi inventore! Quaerat debitis vel at aperiam esse molestias itaque modi possimus tenetur nisi!
        </p>
      </div>
    </div>
  </div>
</section>

{{>footer}}
