{{>header}}
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Welcome to weather app</h1>
        <h2>
          Get The latest Weather info of your city.
        </h2>
        <div>
          <a href="/weather" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="images/slide1.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>

{{>footer}}
