<!--footer start -->

<footer id="footer">
  <div class="container py-4">
    <div class="copyright">
      © Copyright <strong><span>Weather App</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a>Lahu Shelar</a>
    </div>
  </div>
</footer>

<!--footer close -->

    <script>
      $(".carousel").carousel();
    </script>
  </body>
</html>